canvas {
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background {
  z-index: 0;
}

#middle {
  z-index: 1;
}

#foreground {
  z-index: 2;
}

.modal {
  width: 320px;
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  padding: 50px;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: none;
}

.modal.green {
  background-color: #2e7d32;
}

.modal.red {
  background-color: #c62828;
}

.modal.blue {
  background-color: #039be5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 50, 56, 0.8);
  z-index: 3;
  display: none;
}

button{
  font-family: 'Roboto', sans-serif;
  box-shadow: none;
  border: none;
  color: white;
  padding: 10px 30px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: transparent;
}

.modal.blue > button {
  background-color: #fb8c00;
}

.modal.green > button {
  background-color: #ff9800;
}

.modal.red > button {
  color: #212121;
  background-color: #fafafa;
}


.modal.blue > button:hover {
  border: 1px solid white;
}


.modal.green > button:hover {
  border: 1px solid #212121;
}

.modal.red > button:hover {
  border: 1px solid #212121;
}

